nav(class="navbar navbar-default navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:20px;")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/" style= "margin-top: 10px;") Coupon App

        //Collect nav links, forms and other content for toggling
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Users
                span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="/login") Login
                li
                  a(href="/signup") Sign Up
                li
                  a(href="/logout") Logout
                li(role="separator" class="divider")
                li
                  a(href="#") Admin Login
            li
              a(href="/businesses/") Businesses
            li
              a(href="/deals") Deals
            li
              a(href="/category") Categories
            li
              a(href="/about") About
            li
              a(href="javascript:void(0);" data-toggle="search" class="hidden-xs")
                i(class="fa fa-search")
          form(class="navbar-form navbar-left navbar-search-form" role="search")
            div(class="form-group")
              input(type="text" value="" class="form-control" placeholder="Search...")
            button(type="submit" class="btn btn-default") Submit