html, body{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

#mapWrap{
	height: 50%;
	width: 50%;
}

#map{
	height: 65%;
	width: 100%;
}

#splashMap{
	height:100%;
	width:100%;
	padding: 0;
}

#header{
	padding: 0px;
}

.navbar-full .navbar{
	border-radius: 0;
	z-index: 2;
}

body {
  font: 14px sans-serif, "Lucida Grande", Helvetica, Arial;
  padding-top:65px;
}

.main{
	padding:15px;
	height:100%;
	width:100%;
}

a {
  color: #00B7FF;
}

.tableHead{
	font-weight: bold;
}

#searchRight{
	float:right;
}